.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  z-index: 100;
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-left h1{
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.nav-links a {
  color: #666;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
}


.nav-links .active {
  font-weight: bold;
  color: #388E3C; 
  border-bottom: 2px solid #388E3C; 
  text-decoration: none; 
  pointer-events: none;/
}

.nav-links a:hover {
  color: #4CAF50;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav-links a.active:hover {
  text-decoration: none;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-donate{
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  height: 42px;
  line-height: 1;
}

.btn-donate {
  position: relative;
  overflow: hidden; 
  border: 1px solid #4CAF50;
  background: white;
  color: black;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease;
}

.btn-donate::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 250%;
  height: 250%;
  background: linear-gradient(135deg, #4CAF50, #388E3C);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%) translateY(100%);
  z-index: 0;
}

.btn-donate:hover::before {
  transform: translateX(0) translateY(0);
}

.btn-donate:hover {
  color: white;
  border: none;
}

.btn-donate span {
  position: relative;
  z-index: 1;
}

.btn-fundraiser {
  position: relative;
  background-color: #388E3C;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-fundraiser::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 90%;
  border: 2px solid #388E3C;
  border-radius: 8px;
  transition: all 0.3s ease;
  transform: rotate(0deg);
  z-index: -1;
}

.btn-fundraiser:hover {
  color: black;
  background-color: white;
}

.btn-fundraiser:hover::before {
  transform: rotate(180deg); 
}

.btn-fundraiser span {
  position: relative;
  z-index: 1;
}
