.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  z-index: 100;
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-left h1{
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.nav-links a {
  color: #666;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: #4CAF50;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-donate,
.btn-primary,
.btn-secondary {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  height: 42px;
  line-height: 1;
}

.btn-donate {
  border: 1px solid #4CAF50;
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-donate:hover {
  background: #388E3C;
  color: white;
  border: none;
}

.btn-fundraiser{
  background-color: #388E3C;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.nav-links .active {
  font-weight: bold;
  color: #388E3C; /* Active link color */
  border-bottom: 2px solid #388E3C; /* Underline the active link */
}
